# Python basics

## Introduction
Some *text* **that** we can ***highlight***.
- point 1
- point 2
- point 3

Jupyter Notebook follows the concept of **literate programming**.

In [1]:
print("Hello, World!")

Hello, World!

In [3]:
# This is a comment
print("Something")

Something

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [6]:
name

'Lovelace'

In [7]:
age = 73

In [9]:
size = 1.7123

In [10]:
knows_math = True
likes_gardening = False

In [11]:
print(knows_math)

True

In [12]:
type(name)

str

In [16]:
type(age)

int

In [17]:
type (size)

float

In [18]:
type (likes_gardening)

bool

In [19]:
name + str(10)

'Lovelace10'

In [20]:
int("10")

10

## Functions and Methods

In [21]:
# This is a function

len(name)

8

In [23]:
# This is a method, function bound to an object

name.upper()

'LOVELACE'

In [24]:
name_uppercase = name.upper()

In [25]:
print(name_uppercase)

LOVELACE

In [26]:
# Overwriting

name = name.upper()

In [27]:
print(name)

LOVELACE

In [33]:
name = name.lower()

In [34]:
print(name)

lovelace

In [35]:
name.count("e")

2

In [37]:
name.replace("lace", " is everywhere")

'love is everywhere'

## Lists and Dictionaries

In [40]:
# List
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [41]:
names[0]

'Lovelace'

In [42]:
names[-1]

'Hawking'

In [43]:
# First inclusive, last exclusive

names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [49]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1882, "Hawking": 1942}

In [50]:
print(authors_and_birth_years)

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882, 'Hawking': 1942}

In [51]:
authors_and_birth_years["Darwin"]

1809

In [52]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": [1800, 1901], "Noether": 1882, "Hawking": "birth year NA"}

In [53]:
authors_and_birth_years

{'Lovelace': 1882,
 'Darwin': [1800, 1901],
 'Noether': 1882,
 'Hawking': 'birth year NA'}

In [54]:
(authors_and_birth_years["Darwin"])[0]

1800

## for - loop

In [59]:
names = ["Lovelace", "Hawking", "Noether"]

In [60]:
for person in names:
    print (person + " did awesome stuff")

Lovelace did awesome stuff
Hawking did awesome stuff
Noether did awesome stuff

In [61]:
for person in names:
    print (person + " did awesome stuff")
    print ("------------")

Lovelace did awesome stuff
------------
Hawking did awesome stuff
------------
Noether did awesome stuff
------------

## Conditionals

In [62]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [63]:
temp = 5
if temp > 15:
    print("It's warm")

In [64]:
temp = 5
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [65]:
temp = 15
if temp > 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [66]:
temp = 35
if temp > 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")
    
# beware of "if" statement organization, it will go line by line

It's hot